body{
    background-color: antiquewhite;
}


    
    

 
.container1{
    
    background-color: aliceblue;
}
.title1{
    color: rgb(25, 131, 131);
}
.guarantee{
    color: rgb(216, 234, 22);
}
.containerMain2{
    display: flex;
    width:100%;
}
  
.mainContainer {
    display: flex;
    flex-direction: column;
    width:100%;
}

.container2{
    background-color: cadetblue;
    width:50%;
}
.button{
    
    color: aliceblue;
    font-size: 15px;
    line-height: 15px;
    padding: 11px;
    border-radius: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right,rgb(131, 230, 45)0%,rgb(195, 230, 18)50%,rgb(19, 183, 88)100%);
    box-shadow: black 1px 1px 0px 0px;
    /* border : 1px solid rgb(0, 0, 0); */
    display: inline-block;
}
.button:hover{
    background: #d4d707;
}

    
.container3{
    background-color: rgb(14, 151, 172);
    color: aliceblue;
    width: 50%;
}